*{margin: 0;padding: 0;}
.fl{float: left;}
.fr{float: right;}
.cf{content: '';display: block;clear: both;}
ul > li{list-style: none;}

.wrap{
  width: 780px;
  margin: 0 auto;
  font-size: 16px;
  color: #656565;
  background-color: #F5F5F5;
}

section{
  background-color: white;
  margin: 20px 0px;
}
/* part1  part1  part1  part1  part1  part1  part1 */
.part1{
  background-color: #91D5D9;
  font-weight: bold;
  width: 100%;
  display: flex;
  color: #FFFFFF;
}

.part1 p{
  height: 50px;
  line-height: 50px;
}

.part1 span{
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  transform: translateX(-16%);
}

/* part2  part2  part2  part2  part2  part2  part2 */
.part2{
  width: 100%;
  font-weight: bold;


}
.part2 ul{
  display: flex;
}

.part2 ul > li{
  font-size: 20px;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 58px;
}

.part2 ul > li:nth-child(2){
  padding-bottom: 5px;
  border-bottom: 4px solid #91D5D9;
}

/* part3  part3  part3  part3  part3  part3  part3 */
.part3 img{
  width: 100%;
}

/* part4  part4  part4  part4  part4  part4  part4 */
.part4{
  width: 100%;
}

.part4 ul{
  display: flex;
}

.part4 ul > li{
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 14px 17px;
}

.part4 ul > li > span{
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin: 10px 37px;
}

.part4_line1{
  width: 90%;
  margin: 10px auto;
  border-bottom: 4px solid #E1E1E1;
}


.part4_col{
/* border: 1px solid black; */
}

.part4_col ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.part4_col ul > li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.part4_img1{
  margin-top: 27px;
  margin-right: 23px;
  margin-bottom: 12px;
}

.part4_line2{
  height: 256px;
  border-right: 4px solid #E1E1E1;
}

.part4_col ul > li > p{
  font-size: 22px;
  font-weight: bold;
}

/* part5  part5  part5  part5  part5  part5  part5 */
.part5{
  width: 100%;
  padding: 25px 0px;
}

.part5 span{
  font-size: 30px;
  padding-left: 37px;
}

.part5_line{
  width: 90%;
  margin: 10px auto;
  border-bottom: 3px solid #E1E1E1;
}



.part5 ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.part5 ul > li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.part5 > ul > li > img {
  width: 150px;
  border: 1px solid #FCCE77;
  margin: 5px 0px;
}

.part5_text{
  font-size: 20px;
  background-color: #F8F8F8;
  padding: 20px 60px;
  margin: 5px 0px;
}

/* part6  part6  part6  part6  part6  part6  part6 */
.part6{
  width: 100%;
  padding: 30px 0px;
}

.part6_line{
  width: 100%;
  margin: 10px auto;
  border-bottom: 3px solid #E1E1E1;

}

.part6 > ul > li{
  position: relative;
}

.part6 > ul > li > span{
  font-size: 26px;
  font-weight: bold;
}

.part6_1 > span,
.part6_2 > span{
  position: absolute;
  left: 255px;
}

.part6_1 > p,
.part6_2 > p{
  position: absolute;
  color: #C8C8C8;
  left: 255px;
  bottom: 4px;
}

.part6_3 > span{
  position: absolute;
  margin-left: 36px;
}

.part6_1 > img,
.part6_2 > img {
  width: 207px;
  margin-left: 35px;
}

.part6_3 > img{
  width: 207px;
  margin-left: 35px;
  margin-top: 25px;
}

.part6_3 > p{
  position: absolute;
  color: #C8C8C8;
  margin-left: 35px;
}
