*{
  font-size: 16px;
	font-family: "Microsoft YaHei"; /* 微软雅黑 */
/* "SimHei" 黑体*/
/*  "KaiTi" 楷体*/
/* "SimSun" 宋体 */

	color: black; /* BUG: #ffffff */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
	text-decoration: none;
}

h2{
	font-size: 30px;
  padding: 15px;
}

h3{
	font-size: 22px;
  padding: 12px 15px;
	color: #68686A;
}

h4{
  font-size: 16px;
  padding: 8px 15px;
	color: #aaa;
}

.fl{
  float: left;
}
.fr{
  float: right;
}
.cf:after{
  content:'';
  display: block;
  clear: both;
}

ul > li{
  margin: 0;
	padding: 0;
  list-style: none;
}

/* section{
  margin: 10px 0px;
} */


/* header  header  header  header  header  header */
header{
  width: 1280px;
  margin: 0 auto;
  border: 1px solid black;
}

.header_left{
  border: 1px solid red;
  margin: 25px 40px;
}

.header_left span{
  color: #373938;
  font-size: 35px;
  font-family: "SimHei" ;
}

.header_right{
  border: 1px solid green;
  margin: 30px 20px;
}

.header_ul{
  display: inline-block;
  vertical-align: middle;

}

.header_ul li{
  color: #87888A;
  margin: 0px 15px;
  padding: 4px 0px;
}

.header_right_special1{
  /* BUG: 为什么首页的字体不能变色！ */
 border-bottom: 4px solid #E7504D;
}

.header_right_special2{
  color: #E7504D;
}

.wrap{
  width: 1280px;
  margin: 0 auto;
	background-color: #FFFFFF;
}

/* part1  part1  part1  part1  part1  part1  part1 */
.part1{
  position: relative;
}

.part1_img1{

}

.part1_img2{
  position: absolute;
  left: 0;
  top: 0;
}

.part1_1{
  color: #FEFEFF;
  font-size: 60px;
  font-family: "Microsoft YaHei";
  position: absolute;
  left: 130px;
  top: 250px;
}

.part1_2{
  color: #F7F2F6;
  font-size: 20px;
  position: absolute;
  left: 136px;
  top: 328px;

}
.part1_3{
  color: #F7F2F6;
  font-size: 20px;
  position: absolute;
  left: 136px;
  top: 361px;
}

.part1 button{
  font-size: 30px;
  color: #F7F2F6;
  background-color: #E7504D;
  padding: 20px 100px;
  position: absolute;
  left: 136px;
  top: 500px;
  outline: none; /* 去掉蓝色边框 */
  border: none; /* 去掉金属边框*/
  box-shadow: 4px 4px 5px 0px rgba(136,136,136,0.7);
}

/* part2  part2  part2  part2  part2  part2  part2 */
.part2{
  border: 1px solid black;
}
.part2_1{
  border: 1px solid red;
  width: 25%;

}

.part2_1 img{
  margin: 0px 0px 50px 130px;
}

.part2_1 span{
  border-right: 2px solid #AFAFAF;
  display: inline-block;
  margin: 0px 0px 50px 66px;
  padding-right: 69px; /*  记得用border做右竖线 ！！！！*/
}

.part2_2{
  border: 1px solid red;
  width: 25%;
}

.part2_2 img{
  margin: 0px 0px 50px 130px;
}

.part2_2 span{
  border-right: 2px solid #AFAFAF;
  display: inline-block;
  margin: 0px 0px 50px 66px;
  padding-right: 69px; /*  记得用border做右竖线 ！！！！*/
}

.part2_3{
  border: 1px solid red;
  width: 25%;
}

.part2_3 img{
  margin: 0px 0px 50px 130px;
}

.part2_3 span{
  border-right: 2px solid #AFAFAF;
  display: inline-block;
  margin: 0px 0px 50px 66px;
  padding-right: 69px; /*  记得用border做右竖线 ！！！！*/
}

.part2_4{
  border: 1px solid red;
  width: 25%;
}

.part2_4 img{
  margin: 0px 0px 50px 130px;
}

.part2_4 span{
  display: inline-block;
  margin: 0px 0px 50px 66px;
  padding-right: 69px;
}

/* part3  part3  part3  part3  part3  part3  part3 */
.part3{
  background-color: #EDEDED;
  padding: 90px 0px;
}

.part3 img{
  margin: 0px 0px 50px 596px;
}

.part3_1{
  font-size: 60px;
  color: #9F9F9F;
  margin: 0px 0px 0px 150px;
}

/* part4  part4  part4  part4  part4  part4  part4 */
.part4{
  position: relative;
}

.part4_img2{
  position: absolute;
  left: 0;
  top: 0;
}

.part4_1{
  font-size: 20px;
  color: #F9F6F9;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%) translateY(-50%);
}

.part4 hr{
  position: absolute;
  width: 3%;
  left: 50%;
  top: 21%;
  transform: translateX(-50%) translateY(-50%);
}

.part4_2{
  font-size: 12px;
  color: #F9F6F9;
  position: absolute;
  left: 50%;
  top: 27%;
  transform: translateX(-50%) translateY(-50%);
}

.part4_form{
	width: 100%;
	position: absolute;
	top: 172px;
	left: 111px;
	margin: 0 auto;
}

.country,
.province,
.city{
	width: 231px;
	height: 36px;
	overflow: hidden; /**/
	float: left;
	background-color: #FFFFFF;
	margin: 0 15px;
	z-index: 120; /* 穿过part4到part5*/
	/* position: relative;/*必须有！否则超出part4的li选项将无法选中       ???????????? */
}
.part4_form span,li{
	line-height: 36px;
	display: inline-block;
	float: left;
	background-color: #FFFFFF;
	border: none;
}

.part4_form span{
	height: 36px;
	width: 227px;
	color: #AFB0B0;
	text-indent: 10px;
	position: relative;
}

.part4_form ul{
	width: 227px;
	display: inline-block;
	float: left;
	background-color: #FFFFFF;
	/* border: none; */
}

.part4_form li{
	height: 25px;
	width: 227px;
	line-height: 25px;
	text-indent: 15px;
	margin: 0;
	padding: 0 15px;
	background-color: #E3E3E4;
	color: #89898A;
}


.part4_form li:hover{
	color: #ffffff;
	background: url(./img/task_1_7_0000s_0004s_0009__编组_.png) no-repeat 3% 50%;
	background-color: #BE4E48;
}


.part4_img3{
	position: absolute;
	top: 9px;
	right: 5px;
}
.part4_img4{
	position: absolute;
	top: 15px;
	right: 7px;
}

.country:hover,.province:hover,.city:hover{
	height: 100%;
	border: 2px solid #D79995;
	border-radius: 2px;
	overflow: visible;
}

.submit-location{
	width: 231px;
	height: 36px;
	appearance: none;
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari 和 Chrome */
	margin: 0 15px;
	border: none;
	background-color: #BE4E48;
	color: #FFFFFF;
}

/* part5  part5  part5  part5  part5  part5  part5*/
.part5{
  background-color: #F7F7F7;
  position: relative;
  border: 1px solid red;
  padding: 100px 165px;
}

.part5_1_1{
  font-size: 16px;
  color: #3D3D3D;
  position: absolute;
  left: 232px;
  bottom: 130px;
}

.part5_1_2{
  font-size: 14px;
  color: #898989;
  position: absolute;
  left: 223px;
  bottom: 110px;
}

.part5_2_1{
  font-size: 28px;
  color: #3D3D3D;
  position: absolute;
  left: 438px;
  top: 100px;
}

.part5_2_2{
  font-size: 14px;
  color: #898989;
  position: absolute;
  left: 460px;
  top: 135px;
}

.part5_3_1{
  font-size: 16px;
  color: #3D3D3D;
  position: absolute;
  left: 761px;
  bottom: 130px;
}

.part5_3_2{
  font-size: 14px;
  color: #898989;
  position: absolute;
  left: 737px;
  bottom: 110px;
}

.part5_4_1{
  font-size: 16px;
  color: #3D3D3D;
  position: absolute;
  left: 1000px;
  bottom: 130px;
}

.part5_4_2{
  font-size: 14px;
  color: #898989;
  position: absolute;
  left: 978px;
  bottom: 110px;
}

/* part6  part6  part6  part6  part6  part6  part6 */
.part6{
  border: 1px solid red;
  position: relative;
}

.part6_1{
  font-size: 60px;
  color: #FFFFFF;
  position: absolute;
  left: 50px
  top: 100px;
}









/* part7  part7  part7  part7  part7  part7  part7 */
.part7{
  border: 1px solid red;
}








/* part8  part8  part8  part8  part8  part8  part8*/
/* part9  part9  part9  part9  part9  part9  part9*/
/* part10  part10  part10  part10  part10  part10 */
/* footer  footer  footer  footer  footer  footer  */
