*{
  margin: 0;
  padding: 0;
}

[class*='col-']{
  float: left;
}

.inner{
  border: 1px solid #999;
  background-color: #eee;
  height: 50px;
  margin: 10px;
  line-height: 50px;
  text-align: center;
}

/*电脑设备中的页面最小可见区域宽度为 768px 时显示其定义的样式。所以当设备宽度大于等于 768px 采用*/
@media screen and (min-width:768px){
  .col-md-1{
  	width: 8.3333333333333333333333333333333%; /* 1/12 */
  }
  .col-md-2{
  	width: 16.666666666666666666666666666667%; /* 2/12 */
  }
  .col-md-3{
  	width: 25%;  /* 3/12 */
  }
  .col-md-4{
  	width: 33.333333333333333333333333333333%; /* 4/12 */
  }
  .col-md-5{
  	width: 41.666666666666666666666666666667%; /* 5/12 */
  }
  .col-md-6{
  	width: 50%; /* 1/2 */
  }
  .col-md-7{
  	width: 58.333333333333333333333333333333%; /* 7/12 */
  }
  .col-md-8{
  	width: 66.666666666666666666666666666667%; /* 2/3 */
  }
  .col-md-9{
  	width: 75%; /* 3/4 */
  }
  .col-md-10{
  	width: 83.333333333333333333333333333333%;
  }
  .col-md-11{
  	width: 91.666666666666666666666666666667%;
  }
  .col-md-12{
  	width: 100%;
  }
}

@media all and (max-width:768px){
  .col-sm-1{
  	width: 8.3333333333333333333333333333333%;
  }
  .col-sm-2{
  	width: 16.666666666666666666666666666667%;
  }
  .col-sm-3{
  	width: 25%;
  }
  .col-sm-4{
  	width: 33.333333333333333333333333333333%;
  }
  .col-sm-5{
  	width: 41.666666666666666666666666666667%;
  }
  .col-sm-6{
  	width: 50%;
  }
  .col-sm-7{
  	width: 58.333333333333333333333333333333%;
  }
  .col-sm-8{
  	width: 66.666666666666666666666666666667%;
  }
  .col-sm-9{
  	width: 75%;
  }
  .col-sm-10{
  	width: 83.333333333333333333333333333333%;
  }
  .col-sm-11{
  	width: 91.666666666666666666666666666667%;
  }
  .col-sm-12{
  	width: 100%;
  }
}
